<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88375801-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-88375801-2');
</script>

<meta charset="utf-8">
<title>{{title}}</title>
<meta content="" name="description">
<meta content="" name="author">
<meta content="" name="keywords">
<meta content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

<meta property="og:url"         content="{{og_url}}" />
<meta property="og:type"        content="{{og_type}}" />
<meta property="og:title"       content="{{og_title}}" />
<meta property="og:description" content="{{og_description}}" />
<!-- meta property="og:image"       content="" / -->

<link href="https://uploads-ssl.webflow.com/5b8cefa4012ec3e361c77e0c/5bc192ac898dce96bfbcd6fe_logo%2032.png" rel="shortcut icon" type="image/x-icon"/>
<link href="https://uploads-ssl.webflow.com/5b8cefa4012ec3e361c77e0c/5bc19269ac429182f5d87cd5_logo%20256.png" rel="apple-touch-icon"/>

<link rel="stylesheet" href="https://use.typekit.net/sap0zye.css">
<link href="{{slug}}/css/plugins.css?v={{version}}" media="all" rel="stylesheet" type="text/css">
<link href="{{slug}}/css/style.css?v={{version}}" media="all" rel="stylesheet" type="text/css">
<link href="{{slug}}/css/responsive.css?v={{version}}" media="all" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5f260a025a110b001244ded8&product=inline-share-buttons" async="async"></script>
