<div id="sub_card_{{name}}" class="carousel-cell sub_card sub_card_{{name}}" style="{{background}}">

  <div class="center-container-home">
    <div class="section_content">
      <div class="section_content_inner">
        <h2 class="section-heading">
          {{&title}}
        </h2>
        <div class="sub_card_title_byline_divider"></div>
        {{&content}}
      </div>
    </div>
  </div>

</div>
